{{- $lang := .Type | default "text" -}}
{{- $slug := $lang | lower -}}

{{/* 语言显示名归一化：键为小写别名，值为展示文本 */}}
{{- $names := dict
  "c"          "C"
  "cpp"        "C++"
  "c++"        "C++"
  "cxx"        "C++"
  "cs"         "C#"
  "csharp"     "C#"
  "js"         "JavaScript"
  "javascript" "JavaScript"
  "jsx"        "JSX"
  "ts"         "TypeScript"
  "typescript" "TypeScript"
  "tsx"        "TSX"
  "py"         "Python"
  "python"     "Python"
  "rb"         "Ruby"
  "ruby"       "Ruby"
  "rs"         "Rust"
  "rust"       "Rust"
  "go"         "Go"
  "golang"     "Go"
  "java"       "Java"
  "kotlin"     "Kotlin"
  "kt"         "Kotlin"
  "scala"      "Scala"
  "swift"      "Swift"
  "dart"       "Dart"
  "lua"        "Lua"
  "php"        "PHP"
  "perl"       "Perl"
  "r"          "R"
  "matlab"     "MATLAB"
  "hs"         "Haskell"
  "haskell"    "Haskell"
  "elixir"     "Elixir"
  "erlang"     "Erlang"
  "clojure"    "Clojure"
  "zig"        "Zig"
  "objc"       "Objective-C"
  "objectivec" "Objective-C"
  "asm"        "Assembly"
  "nasm"       "Assembly"
  "html"       "HTML"
  "css"        "CSS"
  "scss"       "Sass"
  "sass"       "Sass"
  "less"       "Less"
  "vue"        "Vue"
  "svelte"     "Svelte"
  "sh"         "Shell"
  "bash"       "Shell"
  "zsh"        "Shell"
  "shell"      "Shell"
  "ps1"        "PowerShell"
  "powershell" "PowerShell"
  "dockerfile" "Dockerfile"
  "docker"     "Dockerfile"
  "makefile"   "Makefile"
  "make"       "Makefile"
  "json"       "JSON"
  "yaml"       "YAML"
  "yml"        "YAML"
  "toml"       "TOML"
  "xml"        "XML"
  "ini"        "INI"
  "sql"        "SQL"
  "mysql"      "SQL"
  "postgres"   "SQL"
  "graphql"    "GraphQL"
  "hcl"        "Terraform"
  "terraform"  "Terraform"
  "nginx"      "Nginx"
  "md"         "Markdown"
  "markdown"   "Markdown"
  "tex"        "LaTeX"
  "latex"      "LaTeX"
  "diff"       "Diff"
  "patch"      "Diff"
  "text"       "Text"
  "plaintext"  "Text"
  "txt"        "Text"
-}}

{{- $label := index $names $slug | default ($lang | upper) -}}
{{- $result := transform.HighlightCodeBlock . -}}

<div class="codeblock-wrapper" data-lang="{{ $slug }}">
  <span class="code-lang code-lang--{{ $slug | urlize }}">{{ $label }}</span>
  {{- $result.Wrapped -}}
</div>